/**
 * @name: 自实现多图上传组件样式表
 * @author: yupili
 * @create: 2020/4/16
 **/
.my-image-uploader {
  overflow: auto;
}

.plus-icon {
  text-align: center;
  font-size: 64px;
  color: #ddd;
}

.add-img-input {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}

.img-box {
  position: relative;
  width: 200px;
  height: 200px;
  float: left;
  border: 1px solid #ddd;
  margin-right: 10px;
  margin-bottom: 10px;
  line-height: 200px;
}

.show-img {
  background: #fafafa;
}

.img-box img {
  width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

.show-img .mask {
  display: none;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}

.show-img .mask .close-btn {
  color: #fff;
  font-size: 21px;
  padding: 5px;
  position: absolute;
  right: 0;
  top: 0;
  line-height: 1;
  cursor: pointer;
  z-index: 100;
}

.show-img:hover .mask {
  display: block;
}
